/*  ====================  */
/*  Класс сетки 5 этажа   */
/*  ====================  */

.grid-map-floor5 {
    display: grid;
    grid-template-columns: repeat(80, 1fr);
    grid-template-rows: repeat(23, 1fr);
    max-width: 5080px;
    width: 200%;
    height: 100%;
    padding: 10.1744186vh 5.46875vw;
    position: absolute;
}


/*  =================================================   */
/*  Классы описывающие блоки, заполняющиеся маркерами   */
/*  =================================================   */

/*  Шаблон для атрибута grid-area: row-start / column-start / row-end / column-end;  */

.cab-17-place {
    grid-area: 1 / 36 / 10 / 44;
}

/* 18 - hall will be later  */
.cab-18-1-place {
    grid-area: 10 / 8 / 12 / 10;
}

.cab-18-2-place {
    grid-area: 12 / 8 / 15 / 10;
}

.cab-18-3-place {
    grid-area: 12 / 10 / 15 / 13;
}

.cab-18-4-place {
    grid-area: 12 / 12 / 15 / 15;
}

.cab-18-5-place {
    grid-area: 12 / 17 / 15 / 20;
}

.cab-18-6-place {
    grid-area: 12 / 20 / 15 / 22;
}

.cab-18-7-place {
    grid-area: 12 / 24 / 15 / 27;
}

.cab-18-8-place {
    grid-area: 12 / 25 / 15 / 28;
}

.cab-18-9-place {
    grid-area: 12 / 29 / 15 / 31;
}

.cab-18-10-place {
    grid-area: 12 / 34 / 15 / 36;
}

.cab-18-11-place {
    grid-area: 10 / 42 / 13 / 44;
}

.cab-18-12-place {
    grid-area: 10 / 47 / 13 / 50;
}

.cab-18-13-place {
    grid-area: 8 / 48 / 11 / 51;
}

.cab-18-14-place {
    grid-area: 8 / 51 / 11 / 54;
}

.cab-18-15-place {
    grid-area: 8 / 55 / 11 / 58;
}

.cab-18-16-place {
    grid-area: 7 / 60 / 11 / 63;
}

.cab-18-17-place {
    grid-area: 8 / 67 / 11 / 69;
}

.cab-18-18-place {
    grid-area: 8 / 69 / 11 / 71;
}

.cab-18-19-place {
    grid-area: 8 / 71 / 11 / 73;
}

.cab-18-20-place {
    grid-area: 8 / 73 / 11 / 75;
}

.cab-19-place {
    grid-area: 1 / 32 / 7 / 36;
}

.cab-20-place {
    grid-area: 1 / 29 / 11 / 32;
}

.cab-21-place {
    grid-area: 11 / 31 / 12 / 34;
}

.cab-22-place {
    grid-area: 1 / 19 / 8 / 29;
}

.cab-23-place {
    grid-area: 8 / 19 / 12 / 22;
}

.cab-24-place {
    grid-area: 8 / 15 / 12 / 19;
}

.cab-25-place {
    grid-area: 1 / 1 / 8 / 19;
}

.cab-26-place {
    grid-area: 10 / 1 / 24 / 8;
}

.cab-26-1-place {
    grid-area: 10 / 1 / 12 / 8;
}

.cab-27-place {
    grid-area: 15 / 8 / 24 / 18;
}

.cab-28-place {
    grid-area: 17 / 18 / 24 / 24;
}

.cab-29-place {
    grid-area: 17 / 24 / 24 / 30;
}

.cab-30-place {
    grid-area: 15 / 22 / 17 / 26;
}

.cab-31-place {
    grid-area: 17 / 30 / 24 / 49;
}

.cab-32-place {
    grid-area: 13 / 44 / 17 / 49;
}

.cab-33-place {
    grid-area: 1 / 44 / 8 / 59;
}

.cab-34-place {
    grid-area: 1 / 59 / 7 / 66;
}

.cab-35-place {
    grid-area: 1 / 66 / 8 / 71;
}

.cab-36-place {
    grid-area: 1 / 71 / 8 / 75;
}

.cab-37-place {
    grid-area: 1 / 75 / 11 / 81;
}

.cab-38-place {
    grid-area: 15 / 49 / 24 / 57;
}

.cab-39-place {
    grid-area: 11 / 53 / 15 / 57;
}

.cab-40-place {
    grid-area: 11 / 57 / 24 / 65;
}

.cab-41-place {
    grid-area: 15 / 65 / 24 / 72;
}

.cab-42-place {
    grid-area: 11 / 69 / 15 / 73;
}

.cab-43-place {
    grid-area: 11 / 73 / 24 / 81;
}
