<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/map-creator-styles.css">
    <link rel="stylesheet" href="../style/drop_down_menu.css">

    <!-- шрифты -->
    <!-- Didact Gothic -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <!-- JQuery -->
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    
    <link rel="icon" href="../images/favi.png" type="image/x-icon">
    <link rel="stylesheet" href="../style/svg-styles.css">
    <link rel="stylesheet" href="../style/4floor-cover-grid.css">
    <link rel="stylesheet" href="../style/5floor-cover-grid.css">
    <link rel="stylesheet" href="../style/layout.css">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <title>Marodeur`s Map</title>
</head>
<body class="preview" id="background">
    <div class="dropdown">
        <button class="mainmenubtn">Главное меню</button>
        <div class="dropdown-child">
            <div class="form-wrapper">
            <form name="db-form" class="bd-info-form">
                <label>ID кабинета</label>
                <input data-input-cab-id type="number" name="cab_id">
                <br>
    
                <label>ФИО сотрудника</label>
                <input data-input type="text" name="full_fio">
                <br>

                <label>E-mail</label>
                <input data-input type="text" name="email">
                <br>

                <label>Номер телефона</label>
                <input data-input type="number" name="tel_number">
                <br>

                <label>Название кабинета</label>
                <input data-input type="text" name="location_name">
                <br>

                <label>Отдел</label>
                <input data-input type="text" name="department">
                <br>
    
                <button data-action="push">push</button>
                <button data-action="pull">pull</button>
                <button data-action="clear">clear</button>
                <button data-action="random">randomize</button>
                <button data-action="move">move</button>
            </form>
        </div>
        </div>
    </div>

    <div class="text" id="intro">
        <p> Not everyone can handle with it</p>
        <p> But if try a lot </p>
        <p> You will see</p>
        <p> That everything is in front of you</p><br>
        <p> Just click</p>
    </div>

    <div class="floor-4-wrapper display" id="4-floor" >
        <div class="grid-map-floor4 display " id="grid-for-help">
            <div class="cab-1-0-place placeholder"></div>
            <div class="cab-1-1-place placeholder"></div>
            <div class="cab-1-2-place placeholder"></div>
            <div class="cab-1-3-place placeholder"></div>
            <div class="cab-1-4-place placeholder"></div>
            <div class="cab-1-5-place placeholder"></div>
            <div class="cab-1-6-place placeholder"></div>
            <div class="cab-1-7-place placeholder"></div>
            <div class="cab-1-8-place placeholder"></div>
            <div class="cab-2-place placeholder"></div>
            <div class="cab-2-1-place placeholder"></div>
            <div class="cab-3-place placeholder"></div>
            <div class="cab-4-place placeholder"></div>
            <div class="cab-5-place placeholder"><p>Спорт зал</p></div>
            <div class="cab-5-0-place placeholder"></div>
            <div class="cab-5-1-place placeholder"></div>
            <div class="cab-6-place placeholder"><p>Гардероб</p></div>
            <div class="cab-6-1-place placeholder"></div>
            <div class="cab-7-place placeholder"></div>
            <div class="cab-8-place placeholder"><p>Переговорка</p></div>
            <div class="cab-9-place placeholder"></div>
            <div class="cab-10-place placeholder"><p>Конференц-зал</p></div>
            <div class="cab-10-1-place placeholder"></div>
            <div class="cab-11-place placeholder"></div>
            <div class="cab-12-place placeholder"><p>HR и бухгалтерия</p></div>
            <div class="cab-12-1-place placeholder"></div>
            <div class="cab-12-2-place placeholder"></div>
            <div class="cab-12-3-place placeholder"></div>
            <div class="cab-12-4-place placeholder"></div>
            <div class="cab-13-place placeholder"></div>
            <div class="cab-14-place placeholder"></div>
            <div class="cab-15-place placeholder"></div>
            <div class="cab-16-place placeholder"><p>English</p></div>
        </div>
            <div class="svg-wrapper">
                <svg viewbox="0 0 1280 680" preserveAspectRatio="none">
        
                    <g class="cab" id="cab-1">
                        <path d="m 952,400 l 323,0 l 0,-23" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1276, 320 l 0,-38" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1276, 377 l 0,-57" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
        
                    <g class="cab" id="cab-2">
                        <path d="m 1223,279 l -13,0 l 0,-119 l -72,0 l 0,-156 l 138,0 l 0,275 l -10,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1264,282 l 0,-46" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
        
                    <g class="cab" id="cab-3">
                        <path d="m 1019,60 l 119,0 l 0,100 l 72,0 l 0,80 l -95,0 l 0,39 l -15,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1019,56 l 0,84 l 25,0 l 0,139 l 13,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1059,281 l 0,-46" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
        
                    <g class="cab" id="cab-4">
                        <path d="m 1116,240 l 94,0 l 0,39 l -35,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1116,236 l 0,43 l 15,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1131,280 l 46,0" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
        
                    <g class="cab" id="cab-5">
                        <path d="m 663,4 l 356,0 l 0,10 " stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 962,61 l -37,0 l 0,160 l -143,0 l 0,60 l -15,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 663,0 l 0,20 l 49,0 l 0,260 l 10,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 724,283 l 0,-46" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
        
                    <g class="cab" id="cab-6">
                        <path d="m 921,61 l 38,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1018,61  l 0,80 l 25,0 l 0,138 l -10,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 925,57 l 0,222 l 63,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1032,282 l 0,-46" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
        
                    <g class="cab" id="cab-7">
                        <path d="m 1019,14 l 0,-10 l 119,0 l 0,56 l -119,0 l 0,-7" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1017,52 l 35,0" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
        
                    <g class="cab" id="cab-8">
                        <path d="m 782,221 l 143,0 l 0,98 l -33,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 782,217 l 0,102 l 62,0 " stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 890,321 l 0,-46" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
        
                    <g class="cab" id="cab-9">
                        <path d="m 460,419 l -10,0 l 0,-140 l 120,0 l 0,140 l -58,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 462,422 l 0,-46" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
        
                    <g class="cab" id="cab-10">
                        <path d="m 4,4 l 660,0 l 0,16 l 48,0 l 0,260 l -53,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 4,0 l 0,279 l 587,0 " stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 592,278 l 0,70" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
        
                    <g class="cab" id="cab-11" >
                        <path d="m 391,401 l -12,0 l 0,-121 l 70,0 l 0,121 l -12,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 435,402 l 0,-46" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
        
                    <g class="cab" id="cab-12">
                        <path d="m 450,397 l 0,32 " stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 450,470 l 0,11 l -95,0 l 0,195 l -351,0 l 0,-272" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 452,468 l -35,0" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
        
                    <g class="cab" id="cab-13">
                        <path d="m 0,279 l 190,0 l 0,122 l -30,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 4,282 l 0,119 l 101,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 160,398 l 0,46" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
        
                    <g class="cab" id="cab-14">
                        <path d="m 248,401 l -58,0 l 0,-121 l 188,0 l 0,121 l -80,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 248,399 l 0,46" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
        
                    <g class="cab" id="cab-15">
                        <path d="m 356,481 l 129,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 356,477 l 0,199 l 379,0 l 0,-195 l -200,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 487,479 l 0,46" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
        
                    <g class="cab" id="cab-16">
                        <path d="m 735,400 l 80,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 865,400 l 83,0 l 0,276 l -213,0 l 0,-280 " stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 817,398 l 0,46" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
                </svg>
            </div>
    
    </div>


    <div class="floor-5-wrapper existance" id="5-floor">
        <div class="floor-5-container existance" id="5floor-container">
            <div class="grid-map-floor5" id="grid-for-help2">
    
                <div class="cab-17-place placeholder"></div>
                <div class="cab-18-place placeholder"></div>
                <div class="cab-18-1-place placeholder"></div>
                <div class="cab-18-2-place placeholder"></div>
                <div class="cab-18-3-place placeholder"></div>
                <div class="cab-18-4-place placeholder"></div>
                <div class="cab-18-5-place placeholder"></div>
                <div class="cab-18-6-place placeholder"></div>
                <div class="cab-18-7-place placeholder"></div>
                <div class="cab-18-8-place placeholder"></div>
                <div class="cab-18-9-place placeholder"></div>
                <div class="cab-18-10-place placeholder"></div>
                <div class="cab-18-11-place placeholder"></div>
                <div class="cab-18-12-place placeholder"></div>
                <div class="cab-18-13-place placeholder"></div>
                <div class="cab-18-14-place placeholder"></div>
                <div class="cab-18-15-place placeholder"></div>
                <div class="cab-18-16-place placeholder"></div>
                <div class="cab-18-17-place placeholder"></div>
                <div class="cab-18-18-place placeholder"></div>
                <div class="cab-18-19-place placeholder"></div>
                <div class="cab-18-20-place placeholder"></div>
                <div class="cab-19-place placeholder"></div>
                <div class="cab-20-place placeholder"></div>
                <div class="cab-21-place placeholder"></div>
                <div class="cab-22-place placeholder"><p>Кухня</p></div>
                <div class="cab-23-place placeholder"><p>Серверная</p></div>
                <div class="cab-24-place placeholder"><p>Переговорка</p></div>
                <div class="cab-25-place placeholder"><p>Биздев и маркетинг</p></div>
                <div class="cab-26-place placeholder"><p>Поддержка</p></div>
                <div class="cab-26-1-place placeholder"></div>
                <div class="cab-27-place placeholder"><p>BILLmanager</p></div>
                <div class="cab-28-place placeholder"><p>Cartbee</p></div>
                <div class="cab-29-place placeholder"><p>DevOps</p></div>
                <div class="cab-30-place placeholder"></div>
                <div class="cab-31-place placeholder"><p>Лаунч</p></div>
                <div class="cab-32-place placeholder"></div>
                <div class="cab-33-place placeholder"><p>UX I Frontend IAnalitics</p></div>
                <div class="cab-34-place placeholder"><p>Большая переговорка</p></div>
                <div class="cab-35-place placeholder"><p>Александр Брюханов (СТО)</p></div>
                <div class="cab-36-place placeholder"><p>Ольга Сыровацкая (HR)</p></div>
                <div class="cab-37-place placeholder"><p>Павел Гуральник (SEO)</p></div>
                <div class="cab-38-place placeholder"></div>
                <div class="cab-39-place placeholder"><p>Переговорка</p></div>
                <div class="cab-40-place placeholder"><p>VMmanager</p></div>
                <div class="cab-41-place placeholder"><p>ISPmanager</p></div>
                <div class="cab-42-place placeholder"><p>Переговорка</p></div>
                <div class="cab-43-place placeholder"><p>DCImanager</p></div>
            </div>
            <div class="svg-wrapper5">
                <svg viewbox="0 0 2560 680" preserveAspectRatio="none">
    
                    <g class="cab" id="cab-17">
                        <path d="m 1125,4 l 250,0 l 0,266" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1125,266 l 190,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1369,266 l 0,-60" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-19">
                        <path d="m 997,4 l 124,0 l 0,321 l -10,0"  stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none"/>
                        <path d="m 1110,325 l 0,-45" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-20">
                        <path d="m 894,4 l 99,0 l 0,174 l 63,0 l 0,117 l -97,0 l 0,30 l -10,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 894,325 l 10,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 904,325 l 0,-40" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-21">
                        <path d="m 962,325 l 50,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1056,329 l 0,-30" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1012,325 l 45,0" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-22">
                        <path d="m 581,4 l 315,0 l 0,321 l -88,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none"/>
                        <path d="m 581,207 l 91,0 l 0,118 l 86,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none"/>
                        <path d="m 760,326 l 0,-45" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-23">
                        <path d="m 581,325 l 40,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 667,325 l 10,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 667,326 l 0,-45" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-24">
                        <path d="m 577,210 l 0,119" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 448,325 l 82,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 573,325 l 0,-45" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-25">
                        <path d="m 4,4 l 573,0 l 0,203 l -129,0 l 0,118 l -20,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 4,0 l 0,267 l 285,0 l 0,58 l 95,0 " stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 128,265 l 0,-60 " stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 256,265 l 0,-60 " stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 426,325 l 0,-45" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-26">
                        <path d="m 4,270 l 0,406 l 221,0 l 0,-360" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 225,273 l -45,0" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-27">
                        <path d="m 228,414 l 90,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 228,676 l 317,0 l 0,-262 l -179,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 320,414 l 0,45" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-28">
                        <path d="m 548,676 l 189,0 l 0,-202 l -64,0 l 0,-64" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 548,414 l 70,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 667,414 l 0,45" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-29">
                        <path d="m 800,411 l 0,63 l -61,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 740,676 l 190,0 l 0,-261 l -86,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 806,413 l 0,45" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-31">
                        <path d="m 933,415 l 130,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 933,676 l 604,0 l 0,-203 l -160,0 l 0,-60" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-32">
                        <path d="m 1377,413 l 0,-59 l 120,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1531,356 l 0,-45" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-33">
                        <path d="m 1378,4 l 478,0 l 0,203 l -275,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1378,207 l 151,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1760,4 l 0,100" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1760,207 l 0,-50" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1579,207 l 0,-60" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                        <path d="m 1759,104 l 40,0" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-34">
                        <path d="m 1859,4 l 220,0 l 0,173 l -116,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1859,177 l 54,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1913,177 l 0,-45" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-35">
                        <path d="m 2079,4 l 161,0 l 0,210" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 2079,169 l 0,38 l 113,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 2235,212 l 0,-45" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-36">
                        <path d="m 2240,4 l 127,0 l 0,204 l -80,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 2245,212 l 0,-45" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-37">
                        <path d="m 2367,4 l 189,0 l 0,293 l -188,0 l 0,-25" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 2367,207 l 0,20" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 2368,272 l 45,0" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-38">
                        <path d="m 1537,297 l 0,200" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1533,297 l 86,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1537,676 l 255,0 l 0,-260 l -127,0 l 0,-123" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1659,295 l 0,45" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-39">
                        <path d="m 1669,297 l 85,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-40">
                        <path d="m 1796,676 l 252,0 l 0,-379 l -90,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1795,297 l 110,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1792,293 l 0,150" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 1956,295 l 0,45" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-41">
                        <path d="m 2045,297 l 86,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 2049,676 l 223,0 l 0,-260 l -97,0 l 0,-123" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 2169,295 l 0,45" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-42">
                        <path d="m 2216,297 l 88,0" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 2181,295 l 0,45" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                    <g class="cab" id="cab-43">
                        <path d="m 2276,676 l 280,0 l 0,-380" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 2276,416 l 29,0 l 0,-123" stroke="var(--wall)" stroke-width="var(--wall-thickness)" fill="none" />
                        <path d="m 2310,297 l 0,45" stroke="var(--door)" stroke-width="var(--door-thickness)" fill="none" />
                    </g>
    
                </svg>
            </div>
        </div>
    </div>

    <script src="../script/script.js"></script>
    <script src="../script/floor-paths.js"></script>
</body>
</html>